
    <h1 class="heading-xlarge">There has been an error</h1>
    <p>Please try again later. </p>
    <p>If the problem continues</p>

    <%if(details) {%>
    <div class="code">
        <%=details%>
    </div>
    <%}%>