<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">There has been an error</h1>
        <p>Please try again later. If the problem continues, contact the helpdesk at: <a href="mailto:helpdesk@dfesignin.education.gov.uk">helpdesk@dfesignin.education.gov.uk</a> for assistance.</p>
    </div>
</div>
<%if(details) {%>
<div class="row">
    <div class="col-8">
        <%=details%>
    </div>
</div>
<%}%>